---
import type { Language } from '../data/languages';
interface Props {
  lang: Language;
}

const { lang } = Astro.props;
---

<li
  class="bg-neutral-950 max-w-lg w-full p-4 rounded-3xl hover:scale-[96%] hover:shadow-2xl transitionc"
  style={`view-transition-name: lang-card-${lang.name}`}
>
  <a href={lang.name.toLocaleLowerCase()}>
    <header class="flex items-center gap-2 p-2">
      <img
        class="rounded-full w-10 h-10"
        src={lang.image}
        alt={lang.name}
        style={`view-transition-name: lang-header-img-${lang.name}`}
      />
      <h2 class="font-medium text-base text-white">{lang.name}</h2>
    </header>
    <p class="text-white mt-2 text-center text-3xl">{lang.name}</p>
    <img
      class="mt-8 mb-8 rounded-2xl mx-auto"
      src={lang.image}
      alt={lang.name}
      style={`view-transition-name: lang-img-${lang.name}`}
    />{' '}
  </a>
</li>

<style>
  .transitionc {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
  }
</style>
